@use '../utils' as *;

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0;
    width: 100%;

    @include bp-min('md') {
        flex-direction: row;
    }

    &__inner {
        display:flex;
        flex-direction: column;
        
    }
}

.navbar__inner:nth-child(1) {
    background-color: red;
    flex-grow: 0;
}
.navbar__inner:nth-child(2) {
    background-color: green;
    flex-grow: 1;
}
.navbar__inner:nth-child(3) {
    background-color: blue;
    
}


/*---------------------------------------------------------
-----------------------------------------------------------
---------------------------------------------------------*/




