@use '../utils' as *;

:root, body, p, pre, sub, sup {
    font-family: "wpsites";
}

body, p {
    color: $mo700;
    margin: 0;
    padding: 0;
}

p {
    font-size: $p;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "wpsites-header";
    font-optical-sizing: auto;
    font-style: normal;
    color: $mo900;
    font-weight: 700;
}

h1 {
    font-size: $h1;
    line-height: 1.1;
}

h2 {
    font-size: $h2;
    line-height: 1.2;
}

h3 {
    font-size: $h3;
    line-height: 1.2;
}

h4 {
    font-size: $h4;
    line-height: 1.3;
}

h5 {
    font-size: $h5;
    line-height: 1.4;
}

h6 {
    font-size: $h6;
    line-height: 1.5;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #0000ff;
}