<header class="flex">
  <aside class="flex__inner">
    <a href="/"><img class="header-logo" src="/uplds/svg/aiweb-logo-h.svg" alt="aiweb.hu logo"></a>
  </aside>
  <main class="flex__inner">
<ul class="nav">
<li class="nav-item"><a href="/">Kezdőlap</a></li>
<li class="nav-item"><a href="/pages/weboldal">Weboldal készítés</a></li>
<li class="nav-item"><a href="/pages/webshop">Webshop készítés</a></li>
<li class="nav-item"><a href="/pages/karbantartas">Weboldal karbantartás</a></li>
<li class="nav-item"><a href="/pages/kapcsolat">Kapcsolat</a></li>
    </ul>


  </main>
  <aside class="flex__inner">
    
  </aside>
</header>